@CHARSET "UTF-8";
*{padding:0;margin:0;text-align:center;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
body{
        background:#f1f1f1;     
}
body{
	background:#f1f1f1;	
}
	.swapper{
		width:1000px;
		height:auto;
		background:#fff;
		margin:auto;	
	}
/************************************/
	header{
		width:100%;
		height:108px;
		background:#8B94BA;
		float:left;
		position:relative;
	}
	.logo{
		height:100%;
		width:30%;
		float:left;	
	}
	.banner{
		height:100%;
		width:70%;
		background:linear-gradient(to left,#FFF,#0F5);
		float:left;	
	}
	.banner img{
		width: 700px;
		height: 108px;
	}
	/*swapper Nút đăng nhập*/
	.nav{
		position:absolute;
		background:#B6D8A0;
		float:right;
		width:200px;
		line-height:30px;
		height:30px;
		right:0;
		bottom:0;
		
	}
	
	/* Tên đăng nhập**/
	.user{
		position:absolute;
		background:#AF1A1E;
		color:#fff;
		float:right;
		width:172px;
		display:none;
		line-height:35px;
		height:37px;
		right:176px;
		top:110px;
		
	}
	/*Nút đăng nhập*/
	input.login-but[type="button"]{
		width:200px;
		float:left;
		height:35px;
		border-top-left-radius:60px;
		border:none;	
		background-color:transparent;
	}
	
/************************************/
	section{
		width:100%;
		min-height:490px;
		float:left;
	}
	/*Thanh menu*/
	nav.menu{
		width: 99.8%;
		height: 36px;
		float: left;
		margin-top:2px;
		border:thin solid #f1f1f1;
		background:#FFF;
		
		
	}
	nav.menu ul{
		width:auto;
		height:35px;
		margin-left:100px;
	}
	nav.menu ul li{
		width: 120px;
		height:36px;
		border-right:thin solid #f1f1f1;
		line-height: 36px;
		list-style: none;
		float: left;
	}
	nav.menu ul li:FIRST-CHILD{
		border-left: thin solid #f1f1f1;
	}
	/***Hover các nút **/
	nav.menu ul li:HOVER{
		transition:all ease-in 1s;
		background-color: #BCD4DA;
	}
	nav.menu ul li a:HOVER{
		color:white;
		transition:all ease-in 0.5s;	
	}
	nav.menu ul li input:HOVER{
		color:white;
		transition:all ease-in 0.5s;	
	}
	nav.menu ul li a{
		width: 100%;
		height: 100%;
		display: block;
		text-decoration: none;
		color: black;	
	}
	/* Nut thoát*/
	nav.menu ul li input{
		font:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:16px;
		border:none;
		background-color:transparent;	
	}
	/* tab nào đc click thì thêm class này*/
	.active-tab{
		transition:all linear 1s;
		background:#BCD4DA; 
	}
	nav form input{
		width:100%;
		height:35px;	
	}
	/*--------------------Fillter------------------------*/
	article.fillter{
		background:#fff;
		width: 97.8%;
		margin-top:3px;
		padding:10px 10px 0 10px;
		height: 43px;
		float: left;
		border: thin solid #f1f1f1; 

	}
	article.fillter input{
		height: 30px;
		text-align:center;
		float:left;
		margin-left:10px;
		padding:0 5px;
		background:#156AEC;
		color:#fff;
		border:solid thin gray;
		background-position: left;
		background-repeat: no-repeat;
	}
	article.fillter input#search_box{
		height: 28px;
		width:150px;
		float:left;
		margin-left:10px;
		background:#FFF;
		border:solid thin gray;
		border-right:none;
		background-position: left;
		background-repeat: no-repeat;
		color:#000;
	}
	article.fillter input#search_but{
		height: 30px;
		width:32px;
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
		float:left;
		margin-left:0px;
		background:#156AEC;
		border:solid thin gray;
		background-position: left;
		
		background-repeat: no-repeat;
	}
	/*Thống kê*/
	article.fillter label{
		line-height:30px;
		margin-left:5px;	
	}
	
	/**Nút thêm nhân viên*/
	article.fillter input#add-emp-but{
		
		background-image: url("../sourse/users_add.png");
		
	}
	/**CÁc nút điều hướng*/
	article.fillter a{
		background:#156AEC;
		font-size:13px;
		margin-left:10px;
		text-decoration:none;
		color:#fff;
		
		line-height:28px;
		height: 28px;
		padding:0 5px;
		width:100px;
		display:block;
		float:left;
		border:solid thin gray;
		background-position: left;
		background-repeat: no-repeat;
	}
	article.fillter a.sach{
		width:50px;	
	}
	article.fillter a.vpp{
		width:50px;	
	}
	article.fillter a.dc{
		width:50px;	
	}
	/*---------------------Add Employee---------------------*/
	.add-emp-box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:-10px;
		left: 300px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.add-emp-box img{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.add-emp-box table{
		margin: 5px auto;
		
	}
	.add-emp-box table thead{background: #B6D8A0;height: 30px}
	
	#add_emp_notify{
		color:red;
		font-size:12px;	
	}
	/*---------------------Edit Employee---------------------*/
	/* Nut edit */
	input.edit-emp-but{
		width:22px;
		height:22px;
		border-radius:3px;
		font-size:10px;
		background-image:url(../sourse/edit.png);
		border:thin solid #555;	
	}
	/* Nut xoa */
	input.delete-emp-but{
		width:22px;
		background-image:url(../sourse/delete.png);
		height:22px;
		border-radius:3px;
		font-size:10px;
		border:thin solid #555;	
	}
	
	.edit-emp-box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:-10px;
		left: 300px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.edit-emp-box img.edit-emp-close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.edit-emp-box table{
		margin: 5px auto;
		
	}
	.edit-emp-box table thead{background: #B6D8A0;height: 30px}
	
	/*----------------Delete Emp----------------*/
	.delete-emp-box{
		display: none;
		background:white;
		width: 300px;
		position: absolute;
		top:-10px;
		left: 300px;
		border: solid thin gray;
		border-radius:15px;
	}
	.delete-emp-box table{
		margin: 5px auto;
		
	}
	.delete-emp-box table input{width:45px;height: 20px}
	
	/*---------------------Add sp---------------------*/
	/* Nut edit */
	input.edit-sp-but{
		width:22px;
		background-image:url(../sourse/edit.png);
		height:22px;
		border-radius:3px;
		font-size:10px;
		border:thin solid #555;	
	}
	
	/* Nut xoa */
	input.delete-sp-but{
		width:22px;
		background-image:url(../sourse/delete.png);
		height:22px;
		border-radius:3px;
		font-size:10px;
		border:thin solid #555;	
	}
	
	/* Nut chi tiet */
	input.chitiet-but{
		width:25px;
		background-image:url(../sourse/detail.png);
		height:20px;
		border-radius:3px;
		font-size:10px;
		border:thin solid #555;	
	}
	.add-sp-box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:-10px;
		left: 300px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.add-sp-box img{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.add-sp-box table{
		margin: 5px auto;
		
	}
	.add-sp-box table thead{background: #B6D8A0;height: 30px}
	
	#add_sp_notify{
		color:red;
		font-size:12px;	
	}
	/*---------------------Edit sp---------------------*/
	.edit-sp-box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:-10px;
		left: 300px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.edit-sp-box img.edit-sp-close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.edit-sp-box table{
		margin: 5px auto;
		
	}
	.edit-sp-box table thead{background: #B6D8A0;height: 30px}
	 
	
	/*----------------Delete sp----------------*/
	.delete-sp-box{
		display: none;
		background:white;
		width: 300px;
		position: absolute;
		top:-10px;
		left: 300px;
		border: solid thin gray;
		border-radius:15px;
	}
	.delete-sp-box table{
		margin: 5px auto;
		
	}
	.delete-sp-box table input{width:55px;height: 20px}
	/*---------------------NCC---------------------*/
	/* Nut xoa */
	input.delete-ncc-but{
		width:22px;
		background-image:url(../sourse/delete.png);
		height:22px;
		border-radius:3px;
		font-size:10px;
		border:thin solid #555;	
	}
	/*---------------------Add NCC---------------------*/
	.add-ncc-box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:-10px;
		left: 300px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.add-ncc-box img{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.add-ncc-box table{
		margin: 5px auto;
		
	}
	.add-ncc-box table thead{background: #B6D8A0;height: 30px}
	
	.ncc-box{
		display: none;
		background:white;
		width: 250px;
		position: absolute;
		top:-10px;
		left: 490px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.ncc-box img{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.ncc-box table{
		margin: 5px auto;
		
	}
	.ncc-box table thead{background: #B6D8A0;height: 30px}
	
	/*----------------Delete NCC----------------*/
	.delete-ncc-box{
		display: none;
		background:white;
		width: 300px;
		position: absolute;
		top:-10px;
		left: 300px;
		border: solid thin gray;
		border-radius:15px;
	}
	.delete-ncc-box table{
		margin: 5px auto;
		
	}
	.delete-ncc-box table input{width:55px;height: 20px}
	/*---------------------Chi tiet hoa don---------------------*/
	.chitiet-box{
		display: none;
		background:white;
		width: 600px;
		position: absolute;
		top:-10px;
		left: 200px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.chitiet-box img.chitiet-close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.chitiet-box table{
		margin: 5px auto;
		
	}
	.chitiet-box table thead{background: #B6D8A0;height: 30px}
	 
	
	/*---------------------doanh_so_box---------------------*/
	.doanh_so_box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:-10px;
		left: 300px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.doanh_so_box img.doanh_so_close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.doanh_so_box table{
		margin: 5px auto;
		
	}
	.doanh_so_box table thead{background: #B6D8A0;height: 30px}
	/*---------------------doanh_thu_box---------------------*/
	.doanh_thu_box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:-10px;
		left: 300px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.doanh_thu_box img.doanh_thu_close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.doanh_thu_box table{
		margin: 5px auto;
		
	}
	.doanh_thu_box table thead{background: #B6D8A0;height: 30px}
	/*---------------------tong_chi_box---------------------*/
	.thu_chi_box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:-10px;
		left: 300px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.thu_chi_box img.thu_chi_close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.thu_chi_box table{
		margin: 5px auto;
		
	}
	.thu_chi_box table thead{background: #B6D8A0;height: 30px}
	
	/*_______Hover___TR---*/
	table > tbody >tr:hover{
		background:#BCD4DA;	
	}
	
	/*-----------------BAR-------------------------*/
	
	.Bar{
		width: 99.8%;
		position:relative;
		margin-top:5px;
		border:thin solid #f1f1f1;
		border-top:none;
		min-height:380px;
		background:white;
		float: left;
	}
	/*Thông báo lỗi đăng nhập*/
	span.notify{
		float:left;
		font-size: 12px;
		width:100%;
		height:15px;
		color: red;
	}
	/* swap thông báo*/
	span.notify #log_info{
		color:red;
		border:none;
		width:250px;	
	}
	/*Nut ẩn hộp đăng nhập*/
	input.cancellog[type="button"]{
		float:right;
		width:20px;
		height:20px;
		border:thin solid #2A3F55;
		border-radius:10px;
		position:absolute;
		top:-5px;
		right:-5px;
	}
	/*Box đăng nhập*/
	div#logbox{
	position:absolute;
	margin-top:9px;
	padding-bottom:5px;
	width:300px;
	height:110px;
	top:100px;
	right:500px;
	border:#808080 thin solid;
	border-radius:10px;
	background:#FFF;	
	}
	/*Bảng trong log box*/
	div#logbox table{
	float:left;
	width:100%;
	margin-left: 0px;	
	}
	
	div#logbox table thead{
	background:#F4F2CC;	
	}
	/* BẢng trong div Bar*/
/*////////Bảng báo cáo ////////////*/	
	div.Bar .baocao{
		width:100%;
		margin-top:100px	
	}
	
	div.Bar figure{
		float:left;
		margin-left:5px;
		border:#0CC solid thin;
	}
	
	/**End Bảng báo cáo*/
	div.Bar table{
		width: 100%;
		float:left;
		border-spacing: 1px;
		text-align:left;
	}
	div.Bar table.bang-ls{
		text-align:center;	
	}
	div.Bar table thead{
		
		background-color: #BCD4DA;
		
	}
	div.Bar table thead tr{
		height:30px;
	}
	div.Bar table tbody tr{
		height:26px;
		line-height:26px;
		position:relative;
	}
	/*Ava ẩn*/
	div.Bar table tbody tr span{
		position:absolute;
		visibility:hidden;
		left:-55px;
		margin-top:-20px;
	}
	/*Avatar hiện*/
	div.Bar table tbody tr:hover span{
		visibility:visible;
	}
	/**CĂn lề các  ô*/
	div.Bar table tbody tr td.td_ten,td.td_diachi{
		text-align:left;
	}
	div.Bar table tbody tr td.td_giatri,td.td_sl{
		text-align:right;	
	}
	
	div.Bar table tbody input.ma_nv[type='text']{
		width: 45px;
	}
	div.Bar table tbody input.ma_sp[type='text']{
		width: 55px;
	}
	div.Bar table tbody input.ma_ls[type='text']{
		width: 90px;
	}
	div.Bar table tbody input[type='file']{
		width:150px;	
	}
		/****NAV-Page******/	
	.nav-page{
		width:100%;
		height:20px;
		text-decoration:none;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		background:#6CF;
		bottom:0;
		position:absolute;
		float:left;	
	}
	.nav-page .swap-nav{
		float:left;
		margin-left:450px;	
	}
	.swap-nav input,label{
		float:left;	
	}
	.nav-page a{
		color:#333;
		margin:0 5px;
		line-height:20px;
	}
	.nav-page a.prev-page ,a.next-page{
		background-color:transparent;
		float:left;
		height:16px;
		width:16px;
		display:block;
		border:none;
		text-decoration:none;
		text-align:center;	
	}
	.nav-page a.prev-page{
		background-image: url(../sourse/prev.png);
	}
	.nav-page a.next-page{
		background-image: url(../sourse/next.png);
	}
	.nav-page input.present-page,input.total-page{
		width:20px;
		background:white;
		text-align:center;	
	}
/************************************/
	footer{
		width:100%;
		height:100px;
		line-height:100px;
		background: url("../sourse/footer-bg.jpg") repeat scroll left top transparent;
		float:left;
	}
/************************NHAP XUAT*******************/


#form{
    float: left;
    width: 350px;
    height: auto;
}
fieldset{
    height: auto;
    border:1px solid; 
    margin: 5px 0px 10px 10px;
    padding: 10px; 
    border-radius: 5px;
}
legend{
    color: #804000;
    font-weight: bold;
    font-size: 18px;
    margin: 0px 0px 10px 100px;
}
#legHD{
    color: #804000;
    font-weight: bold;
    margin:0px 0px 0px 200px;
}

form#form_nhap_xuat div{
    margin: 5px 0px 40px 0px;
}
form#form_nhap_xuat table{
	color:#333;	
}
.success {
    font-weight: bold;
    color: green;
    text-align: center;
    }
.warning {
    font-size: 13px; 
    color: #c00; 
    text-align: center;
    }
#nhap{
    width: 100px;
    margin-left: 40px;
}

#hoadon{
    float: right;
    width: 620px;
    height: auto;
    margin: 0px 10px 0px 0px;
}
#formHD{
}
h3{
    margin-top: 10px;
    text-align: center;
    color: #804000;
}
table.nhap_xuat{
    width: 620px;
    border: 2px solid;
    margin: 0px auto;
}
table.nhap_xuat.th{
    font-size: 12px;
    text-align: center;
    color: #804000;
}
table.nhap_xuat#td{
    text-align: left;
    color: #0000A0;
}
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
section, header{
	display: block;
}
.container{
	width: 100%;
	height: 520px;
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container > header{
	padding: 20px 30px 10px 30px;
	margin-bottom: 40px;
	position: relative;
	display: block;
    text-align: center;
}
.container > header h1{
	font-family: "BebasNeueRegular", Arial, sans-serif;
	font-size: 35px;
	position: relative;
	font-weight: 300;
	text-transform: uppercase;
	color: rgba(101,141,114,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{
	color: #a0caad;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
}
.container > header h2{
	
}
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.codrops-top a:hover{
	background: #fff;
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
.codrops-demos{
	text-align:center;
	display: block;
	padding-top: 20px;
}
.codrops-demos a, 
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
    display: inline-block;
	border: 1px solid #719c7f;
	padding: 4px 10px 3px;
	font-size: 13px;
	line-height: 18px;
	margin: 0px 3px;
	font-weight: 800;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #90bd9e;
	background: -moz-linear-gradient(top, #90bd9e 0%, #72a081 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90bd9e), color-stop(100%,#72a081));
	background: -webkit-linear-gradient(top, #90bd9e 0%,#72a081 100%);
	background: -o-linear-gradient(top, #90bd9e 0%,#72a081 100%);
	background: -ms-linear-gradient(top, #90bd9e 0%,#72a081 100%);
	background: linear-gradient(top, #90bd9e 0%,#72a081 100%);
}
.codrops-demos a:hover{
	background: #85b995;
}
.codrops-demos a:active{
	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.4);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	color: #506757;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
}
/* Media Queries */
@media screen and (max-width: 767px) {
	.container > header{
		text-align: center;
	}
	p.codrops-demos {
		position: relative;
		top: auto;
		left: auto;
	}
}
.dg-container{
	width: 100%;
	height: 500px;
	position: relative;
	}
.dg-wrapper{
	width: 320px;
	height: 470px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 321px;
	height: 470px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url(../images/browser.png) no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	margin: 0 auto;
	padding: 0px 0px 0px 1px;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
.dg-container nav span{
	text-indent: -9000px;
	float: left;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
	background: transparent url(../images/arrows.png) no-repeat top left;
}
.dg-container nav span:hover{
	opacity: 1;
}
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}
