@CHARSET "UTF-8";
*{padding:0;margin:0;text-align:center}
	.swapper{
		width:1000px;
		height:auto;
		background:#EFF1EF;
		margin:auto;	
	}
/************************************/
	header{
		width:100%;
		height:108px;
		background:#8B94BA;
		float:left;
		position:relative;
	}
	.logo{
		height:100%;
		width:30%;
		background:radial-gradient(#FFF,#FCF);
		float:left;	
	}
	.banner{
		height:100%;
		width:70%;
		background:linear-gradient(to left,#FFF,#0F5);
		float:left;	
	}
	.banner img{
		width: 700px;
		height: 108px;
	}
	
	.nav{
		position:absolute;
		background:#F4D89D;
		float:right;
		width:200px;
		height:35px;
		border-top-left-radius:60px;
		right:0;
		bottom:0;
		
	}
	input.login-but[type="button"]{
		width:200px;
		float:left;
		height:35px;
		border-top-left-radius:60px;
		border:none;	
		background-color:transparent;
	}
	
/************************************/
	section{
		width:100%;
		height:75%;
		background:#F4D89D;
		float:left;
	}
	nav.menu{
		width: 100%;
		height: 37px;
		float: left;
		background:gray ;
		
	}
	nav.menu ul{
		width:auto;
		height:35px;
		margin-left:100px;
	}
	nav.menu ul li{
		width: 120px;
		height:37px;
		border-right:thin solid black;
		line-height: 35px;
		list-style: none;
		float: left;
	}
	nav.menu ul li:FIRST-CHILD{
		border-left: thin solid black;
	}
	nav.menu ul li:HOVER{
		background-color: white;
	}
	nav.menu ul li a{
		width: 100%;
		height: 100%;
		display: block;
		text-decoration: none;
		color: black;	
	}
	nav.menu ul li input{
		border:none;
		background-color:transparent;	
	}
	
	.active-tab{
		background:#F4D89D ;
		border-top: solid thin gray; 
	}
	/*--------------------Fillter------------------------*/
	article.fillter{
		width: 97.8%;
		padding:10px 10px 0 10px;
		height: 43px;
		float: left;
		border: thin solid gray; 
		border-top: none;
	}
	article.fillter input{
		height: 30px;
		float:left;
		margin-left:10px;
		background:#CCF;
		border:solid thin gray;
		background-position: left;
		background-repeat: no-repeat;
	}
	article.fillter input#add-emp-but{
		
		background-image: url("../sourse/users_add.png");
		
	}
	article.fillter a{
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		margin-left:10px;
		text-decoration:none;
		color:#000;
		background:#CCF;
		line-height:28px;
		height: 28px;
		float:left;
		border:solid thin gray;
		background-position: left;
		background-repeat: no-repeat;
	}
	
	/*-------------------Aside-------------------------*/
	aside.aside{
		width: 20%;
		height:90px;
		float: right;
		border-bottom:solid thin gray;
	}
	/*---------------------Add Employee---------------------*/
	.add-emp-box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:150px;
		left: 500px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.add-emp-box img{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.add-emp-box table{
		margin: 5px auto;
		
	}
	.add-emp-box table thead{background: #B6D8A0;height: 30px}
	
	/*---------------------Edit Employee---------------------*/
	.edit-emp-box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:150px;
		left: 500px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.edit-emp-box img.edit-emp-close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.edit-emp-box table{
		margin: 5px auto;
		
	}
	.edit-emp-box table thead{background: #B6D8A0;height: 30px}
	
	/*----------------Delete Emp----------------*/
	.delete-emp-box{
		display: none;
		background:white;
		width: 300px;
		position: absolute;
		top:150px;
		left: 500px;
		border: solid thin gray;
		border-radius:15px;
	}
	.delete-emp-box table{
		margin: 5px auto;
		
	}
	.delete-emp-box table input{width:45px;height: 20px}
	
	/*---------------------Add sp---------------------*/
	.add-sp-box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:150px;
		left: 500px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.add-sp-box img{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.add-sp-box table{
		margin: 5px auto;
		
	}
	.add-sp-box table thead{background: #B6D8A0;height: 30px}
	
	/*---------------------Edit sp---------------------*/
	.edit-sp-box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:150px;
		left: 500px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.edit-sp-box img.edit-sp-close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.edit-sp-box table{
		margin: 5px auto;
		
	}
	.edit-sp-box table thead{background: #B6D8A0;height: 30px}
	 
	
	/*----------------Delete sp----------------*/
	.delete-sp-box{
		display: none;
		background:white;
		width: 300px;
		position: absolute;
		top:150px;
		left: 500px;11
		border: solid thin gray;
		border-radius:15px;
	}
	.delete-sp-box table{
		margin: 5px auto;
		
	}
	.delete-sp-box table input{width:55px;height: 20px}
	/*---------------------Add sp---------------------*/
	.ncc-box{
		display: none;
		background:white;
		width: 250px;
		position: absolute;
		top:150px;
		left: 500px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.ncc-box img{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.ncc-box table{
		margin: 5px auto;
		
	}
	.ncc-box table thead{background: #B6D8A0;height: 30px}
	
	/*---------------------Chi tiet hoa don---------------------*/
	.chitiet-box{
		display: none;
		background:white;
		width: 500px;
		position: absolute;
		top:150px;
		left: 400px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.chitiet-box img.chitiet-close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.chitiet-box table{
		margin: 5px auto;
		
	}
	.chitiet-box table thead{background: #B6D8A0;height: 30px}
	 
	
	/*---------------------doanh_so_box---------------------*/
	.doanh_so_box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:150px;
		left: 500px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.doanh_so_box img.doanh_so_close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.doanh_so_box table{
		margin: 5px auto;
		
	}
	.doanh_so_box table thead{background: #B6D8A0;height: 30px}
	/*---------------------doanh_thu_box---------------------*/
	.doanh_thu_box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:150px;
		left: 500px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.doanh_thu_box img.doanh_thu_close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.doanh_thu_box table{
		margin: 5px auto;
		
	}
	.doanh_thu_box table thead{background: #B6D8A0;height: 30px}
	/*---------------------tong_chi_box---------------------*/
	.thu_chi_box{
		display: none;
		background:white;
		width: 350px;
		position: absolute;
		top:150px;
		left: 500px;
		border: solid thin gray;
		border-radius:15px;
	}
	
	.thu_chi_box img.thu_chi_close{
		float: right;
		border: solid thin gray; 
		position: absolute;
		top: -5px;
		right: -5px;
		background: white;
		border-radius:15px;
	}
	.thu_chi_box table{
		margin: 5px auto;
		
	}
	.thu_chi_box table thead{background: #B6D8A0;height: 30px}
	
	
	
	/*------------------------------------------*/
	
	.Bar{
		width: 99.8%;
		border:thin solid gray;
		border-top:none;
		height: auto;
		background:white;
		float: left;
	}
	span.notify{
		float:left;
		font-size: 12px;
		width:100%;
		height:15px;
		color: red;
	}
	
	input.cancellog[type="button"]{
		float:right;
		width:20px;
		height:20px;
		border:thin solid #2A3F55;
		border-radius:10px;
		position:absolute;
		top:-5px;
		right:-5px;
	}
	
	div#logbox{
	position:absolute;
	padding-bottom:5px;
	width:300px;
	height:110px;
	top:100px;
	right:500px;
	border:#808080 thin solid;
	border-radius:10px;
	background:#FFF;	
	}
	
	div#logbox table{
	float:left;
	width:100%;
	margin-left: 0px;	
	}
	
	div#logbox table thead{
	background:#F4F2CC;	
	}
	
	div.Bar table{
		width: 100%;
		height:30px;
		border-spacing: 1px;
	}
	
	div.Bar table thead{
		background-color: #B6D8A0;
		
	}
	
	div.Bar table tbody input.ma_nv[type='text']{
		width: 45px;
	}
	div.Bar table tbody input.ma_sp[type='text']{
		width: 55px;
	}
	div.Bar table tbody input.ma_ls[type='text']{
		width: 90px;
	}
	div.Bar table tbody input[type='file']{
		width:150px;	
	}
/************************************/
	footer{
		width:100%;
		height:40px;
		background:#B6D8A0;
		float:left;
	}


	